<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of gyms - Active Yelp</title>
</head>

<body>
    <header>
        <% if (user) { %> 
        <form action="/logout" method="POST">
            <button>Logout</button>
        </form>
        <br>
        <% } %> 
        <a href="/register">Criar uma conta</a>
        <br>
        <a href="/login">Entrar em uma conta</a>
    </header>
    <h1>All Gyms</h1>
    <div>
        <a href="/gyms/new">Add Gym</a>
    </div>
    <ul>
        <% for (let gym of gyms){%>
            <li><a href="/gyms/<%= gym._id %>"><%= gym.title %></a></li>
        <% }%>
    </ul>
</body>

</html>