<% layout('/layouts/boilerplate') -%>
   
<% block('head').append('<title>New Gym · ActiveYelp</title>') %>

<h2 class="text-center mb-4">Fill in the form with the gym information</h2>

<form action="/gyms" method="POST" enctype="multipart/form-data" 
class="row g-3 needs-validation text-center justify-content-center mx-auto" novalidate >
    <div class="col-md-10 col-lg-7 col-xl-6">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="gym[title]" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter the gym title.
        </div>
    </div>
    <div class="col-md-10 col-lg-8 col-xl-7">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" id="location" name="gym[location]" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter the gym location.
        </div>
    </div>
    <div class="col-md-10 col-lg-8 col-xl-7">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="gym[description]" required></textarea>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter a description for the gym.
        </div>
    </div>
    <div class="col-md-10 col-lg-7 col-xl-6">
        <label for="images" class="form-label">Image</label>
        <input type="file" class="form-control" id="images" name="images" multiple required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please upload at least 1 image of the gym.
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-success" type="submit">Submit form</button>
    </div>
</form>

<script src="/scripts/formValidation.js"></script>
