<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to ActiveYelp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">

</head>

<body class="d-flex flex-column vh-100">

    <%- include ("../partials/navbar.ejs") %>

    <main class="container mt-5 mb-4 h-100">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-4 offset-xl-4 align-self-center">
                <div class="card mh-25">
                    <img src="https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8
                    MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=775&q=80" class="card-img-top" alt="example gym">
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <form action="/login" method="POST" class="needs-validation" novalidate>
                            <div class="col-12 mb-3 card-text">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                                <div class="invalid-feedback">
                                    Please enter your username.
                                </div>
                            </div>
                            <div class="col-12 mb-3 card-text">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                                <div class="invalid-feedback">
                                    Please enter your password
                                </div>
                            </div>
                            <button class="col-12 btn btn-success rounded-1 mb-2">Login</button>
                            <a href="/register" class="col-12 btn btn-secondary rounded-1">Not signed up yet? Login here</a>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <%- include ("../partials/footer.ejs") %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>

    <script src="/scripts/formValidation.js"></script>

</body>

</html>