<% layout('/layouts/boilerplate') -%>
<% block('head').append('<title> Login · ActiveYelp</title>') %> 

<div class="row justify-content-center">
    <div class="col-md-7 col-xl-4 align-self-center">
        <div class="card shadow">
            <img src="https://res.cloudinary.com/dmxxtoux0/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1676934756/active-yelp/gyms-sample-images/jesper-aggergaard-rA5aJvQ2l6g-unsplash_im2zbb.jpg" 
            class="card-img-top" alt="gym image">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <form action="/login" method="POST" class="needs-validation" novalidate>
                    <div class="col-12 mb-3 card-text">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                        <div class="invalid-feedback">
                            Please enter your username.
                        </div>
                    </div>
                    <div class="col-12 mb-3 card-text">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                        <div class="invalid-feedback">
                            Please enter your password
                        </div>
                    </div>
                    <button class="col-12 btn btn-success rounded-1 mb-2">Login</button>
                    <a href="/register" class="col-12 btn btn-secondary rounded-1">Not signed up yet? Login here</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/formValidation.js"></script>